*{
    margin: 0px;
    padding: 0px;
}
#promo_cep{
    display: flex;
    justify-content: space-around;
    background-color:#ada390;
    color: white;
}
#cabecalho{
    display: flex;
    background-color: #ffb18b;
    justify-content: space-between;
}
#logo{
    width: 256px;
    height: 75px;
    margin: 15px;
    
}
#opcoes{
    display: flex;
    
}
.icons{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
#menu{
    display:flex;
    border: solid 6px #ffb18b;
    margin:20px;
    justify-content: space-around;
}
.opcoes_menu{
    font-size: 25px;
    color: black;
    text-decoration: none;
}
#tudo{
    display: flex;
    justify-content: center;
}
#esquerda{
    border: #ffb18b solid 5px;
    margin: 40px 0px 0px 40px;
    width: 350px;
    height: 250px;
    padding: 15px;

}
.acomp{
    display: flex;
    margin-bottom: 15px;
}
.ent{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    color: #ffb18b;
}
.tit_ent{
    font-size: 30px;
}
#direita{
    border: #ffb18b solid 5px;
    margin: 40px 0px 0px 40px;
    width: 450px;
    height: 450px;
    padding: 15px;
}
img{
    width: 70px;
    height: 80px;
}
.acomp2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#subtotal{
    border-top: #ffb18b 5px  dotted;
    padding-top: 15px;
}
#rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: #ffb18b;
    height: 90px;
}
#form{
    padding-top: 10px;
    padding-left: 10px;
}
#botao{
    background-color: #ffb18b;
    font-size: 20px;
    width: 70px;
    height: 30px;
    color: white;
    border: solid 3px white;
}
#novidds{
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
#redessociais{
    display: flex;
}
.sociais{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
.nome_email{
    font-size: 20px;
}
