*{
    margin: 0px;
    padding: 0px;
}
#cabecalho{
    display: flex;
    background-color: #ffb18b;
    justify-content: space-between;
}
#logo{
    width: 256px;
    height: 75px;
    margin: 15px;
    
}
#opcoes{
    display: flex;
    
}
.icons{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
#menu{
    display:flex;
    border: solid 6px #ffb18b;
    margin:20px;
    justify-content: space-around;
}
.opcoes_menu{
    font-size: 25px;
    color: black;
    text-decoration: none;
}



#quadro{
    border: solid 7px #ffb18b;
    margin-left: 70px;
    margin-right: 100px;
    width: 150px;
    height: 300px;
}
h2{
    margin: 20px;
}
#cima{
    border-bottom: solid 2px #ffb18b;
}
.none{
    text-decoration: none;
    color: gray;
}
.meio{
    margin:20px;
}

.produto{
    width: 300px;
}
h1{
    color:#ffb18b;
    margin: 20px;
}
#tudo{
    display: flex;
}

.lista{
    display: flex;
    list-style: none;
    margin-left: 20px;
    border-bottom: solid 4px #ffb18b;
    align-items: center;
}
li{
    margin-right: 60px;
    text-align: center ;
}
img{
    width: 70px;
    height: 80px;
}
.quant{
    width: 130px;
}
.quantidade{
    border:solid 2px #ffb18b;
    width: 50px;
    height: 20px;
}
.lado{
    display: flex;
}
.botaos{
    border: solid 3px #ffb18b;
    text-align: center;
    text-decoration: none;
    color: black;
}
.editar{
    width: 100px;
}
.cor{
    text-decoration: none;
    color: black;
}


#rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: #ffb18b;
    height: 90px;
}
#form{
    padding-top: 10px;
    padding-left: 10px;
}
#botao{
    background-color: #ffb18b;
    font-size: 20px;
    width: 70px;
    height: 30px;
    color: white;
    border: solid 3px white;
}
#novidds{
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
#redessociais{
    display: flex;
}
.sociais{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
.nome_email{
    font-size: 20px;
}