*{
    margin: 0px;
    padding: 0px;
}
#promo_cep{
    display: flex;
    justify-content: space-around;
    background-color:#ada390;
    color: white;
}
#cabecalho{
    display: flex;
    background-color: #ffb18b;
    justify-content: space-between;
}
#logo{
    width: 256px;
    height: 75px;
    margin: 15px;
    
}
#opcoes{
    display: flex;
    
}
.icons{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
#menu{
    display:flex;
    border: solid 6px #ffb18b;
    margin:20px;
    justify-content: space-around;
}
.opcoes_menu{
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.comprar{
    text-decoration: none;
    background-color: #ffb18b;
    color: white;
    width: 180px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    display: block;
    border-radius: 20px;
}
#caixas{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
#vest3{
    width: 300px;
    height: 228px;
}
.img{
    width: 183px;
    height: 228px;
    
}
.imagens{
    width: 200px;
    height: 300px;
}


#rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: #ffb18b;
    height: 90px;
}
#form{
    padding-top: 10px;
    padding-left: 10px;
}
#botao{
    background-color: #ffb18b;
    font-size: 20px;
    width: 70px;
    height: 30px;
    color: white;
    border: solid 3px white;
}
#novidds{
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
#redessociais{
    display: flex;
}
.sociais{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
.nome_email{
    font-size: 20px;
}