*{
    margin: 0px;
    padding: 0px;
}
#promo_cep{
    display: flex;
    justify-content: space-around;
    background-color:#ada397;
    color: white;
}
#cabecalho{
    display: flex;
    background-color: #ffb18b;
    justify-content: space-between;
}
#logo{
    width: 256px;
    height: 75px;
    margin: 15px;
    
}
#opcoes{
    display: flex;
    
}
.icons{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
#menu{
    display:flex;
    border: solid 6px #ffb18b;
    margin:20px;
    justify-content: space-around;
}
.opcoes_menu{
    font-size: 25px;
    color: black;
    text-decoration: none;
}


#tudo{
    display: flex;
    justify-content:center;
}
.prod_preco{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 10px;
}

#desc_prods{
    width: 500px;
    height: 150px;
    border: solid 6px #ffb18b;
    margin-right: 20px;
    padding: 20px;
}
.endentr_cupomdesc{
    border: solid 6px #ffb18b;
    margin-right: 20px;
    padding: 20px;
    margin-top: 20px;
}
#altend{
    text-decoration: none;
    color: blue;
}
#aplicar{
    background-color: #ffb18b;
    margin:10px;
    color: white;
    border:none;
    padding: 5px;
}
#form_pag{
    width: 300px;
    border: solid 6px #ffb18b;
    margin-right: 20px;
    padding: 20px;
}
#finalizar_botao{
    font-size: 25px;
    border:none;
    background-color: #ffb18b;
    margin:10px;
    width: 250px;
    height: 50px;
    color: white;
}



#rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: #ffb18b;
    height: 90px;
}
#form{
    padding-top: 10px;
    padding-left: 10px;
}
#botao{
    background-color: #ffb18b;
    font-size: 20px;
    width: 70px;
    height: 30px;
    color: white;
    border: solid 3px white;
}
#novidds{
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
#redessociais{
    display: flex;
}
.sociais{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
.nome_email{
    font-size: 20px;
}
