*{
    margin: 0px;
    padding: 0px;
}
#cabecalho{
    display: flex;
    background-color: #ffb18b;
    justify-content: space-between;
}
#logo{
    width: 256px;
    height: 75px;
    margin: 15px;
    
}
#opcoes{
    display: flex;
    
}
.icons{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}



h1{
    font-size: 70px;
    margin-top: 118px;
    margin-left: 450px;
    margin-bottom: 30px;
}
#voltpag{
    font-size: 40px;
    background-color: #ffb18b;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-left: 500px;
}



#rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: #ffb18b;
    height: 90px;
}
#form{
    padding-top: 10px;
    padding-left: 10px;
}
#botao{
    background-color: #ffb18b;
    font-size: 20px;
    width: 70px;
    height: 30px;
    color: white;
    border: solid 3px white;
}
#novidds{
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
#redessociais{
    display: flex;
}
.sociais{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
.nome_email{
    font-size: 20px;
}