*{
    margin: 0px;
    padding: 0px;
}
#cabecalho{
    display: flex;
    background-color: #ffb18b;
    justify-content: space-between;
}
#logo{
    width: 256px;
    height: 75px;
    margin: 15px;
    
}
#opcoes{
    display: flex;
    
}
.icons{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
#menu{
    display:flex;
    border: solid 6px #ffb18b;
    margin:20px;
    justify-content: space-around;
}
.opcoes_menu{
    font-size: 25px;
    color: black;
    text-decoration: none;
}


.titulos{
    color:#ffb18b;
    margin-bottom: 20px;
}
#principal{
    display: flex;
    margin-left:135px;
    margin-bottom: 50px;
    margin-right: 135px;
}
#caixas{
    display:flex;
    margin-left: 135px;
    margin-right: 135px;
    justify-content: space-between;
}
#missao{
    margin-right: 30px;
}
#valores{
    margin-right: 30px;
}
p{
    font-size: 20px;
}

#baixo{
    margin-left:135px;
    margin-top: 50px;
}
#nos{
    display: flex;
}
.lado{
    display: flex;
    margin-right: 100px;
}
li{
    list-style: none;
    margin-bottom: 3px;
    margin-left:15px ;
}
img{
    height:170px ;
}


#rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: #ffb18b;
    height: 90px;
}
#form{
    padding-top: 10px;
    padding-left: 10px;
}
#botao{
    background-color: #ffb18b;
    font-size: 20px;
    width: 70px;
    height: 30px;
    color: white;
    border: solid 3px white;
}
#novidds{
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
#redessociais{
    display: flex;
}
.sociais{
    width: 40px;
    height: 40px;
    color:white;
    margin: 30px 10px 30px 10px;
}
.nome_email{
    font-size: 20px;
}