h1{
    font-size: 70px;
    margin-top: 118px;
    margin-left: 450px;
    margin-bottom: 30px;
}
#voltpag{
    font-size: 40px;
    background-color: #ffb18b;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-left: 500px;
}
